.header,
.footer,
.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.action,
button {
    background-color: #3882f6;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* From here it's all about flexbox layout */


body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.hero {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    gap: 36px;
}

.hero img {
    flex: 1;
}

.main {
    display: flex;
    flex-flow: column wrap;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.container {
    display: flex;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.stuff {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: center;
}

.stuff img {
    width: 200px;
    height: auto;
}

.action {
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    gap: 36px;
    padding: 0px 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}